.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 42, 43);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 8, 255, 0.426);
  border: 1px solid rgba(207, 207, 255, 0.244);
  margin: 0;
  width: 100%;
  height: 50px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 55px;
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}

.navbar .menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-family: DejaVu Sans Mono, monospace;
}

.navbar .menu a:hover {
  color: #2259ff;
}

.navbar .language-selector {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.navbar .language-selector i {
  color: #333;
  font-size: 16px;
  margin-right: 5px;
}

.navbar .language-selector span {
  color: #333;
  font-size: 16px;
}
