.test {
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  margin: 0 35%;
  width: 30%;
  height: 250px;
}

h1 {
  margin: 15% 35%;
  color: purple;
}

@media (max-width: 750px) {
  .test {
    width: 80%;
    margin: 0 10%;
    height: auto; /* Mund të rregullohet sipas nevojës */
  }

  h1 {
    font-size: 1.5em; /* Mund të rregullohet sipas nevojës */
    text-align: center;
  }
}
